<!DOCTYPE html>
<meta charset="utf-8">

<style>

body {
	font: 12px Arial;
	}

path { 
	stroke: steelblue;
    stroke-width: 2;
    fill: none;
	}

.axis path,

.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
	}



</style>

<iframeGraph>

<script src="//d3js.org/d3.v3.min.js"></script>
	<script>	
		var margin = {top: 20, right: 150, bottom: 30, left: 50},
		width = 1020 - margin.left - margin.right,
		height = 500 - margin.top - margin.bottom;
		
		var formatDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
		
		var x = d3.time.scale().range([0,width]);
		
		var y = d3.scale.linear().range([height,0]);
		
		var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom")
			.tickFormat(d3.time.format("%m-%d %H:%M"));
			
		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left");
		
		var outTempLine = d3.svg.line()
			.x(function(d) {return x(d.timeStamps)})
			.y(function(d) {return y(d.outTemps)});
		
		var inTempLine = d3.svg.line()
			.x(function(d) {return x(d.timeStamps)})
			.y(function(d) {return y(d.inTemps)});	
			
		var svgGraph = d3.select("iframeGraph")
			.append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
			.append("g")
				.attr("transform", 
					  "translate (" + margin.left + "," + margin.top + ")");
			
		d3.json("/data",function(error, data) {
		
			data.forEach(function(d) {
			d.timeStamps = formatDate(d.timeStamps);
			d.outTemps = parseFloat(d.outTemps);
			d.inTemps = parseFloat(d.inTemps);})
				
			x.domain(d3.extent(data, function (d) {
				return d.timeStamps;
				}));
			
			y.domain([d3.min(data, function(d) {
				return Math.min(d.outTemps, d.inTemps)-5}),
				d3.max(data, function(d) {
				return Math.max(d.outTemps, d.inTemps)+5})]);
			   
			var outLinePath = svgGraph.append("path")	
				.attr("class", "line")
				.attr("d", outTempLine(data));
				
			var inLinePath = svgGraph.append("path")	
				.attr("class", "line")
				.style("stroke", "red")
				.attr("d", inTempLine(data));
			
			 var totalLengthOut = outLinePath.node().getTotalLength();
			 
			 var totalLengthIn = inLinePath.node().getTotalLength();	  
			 
			 outLinePath
			  .attr("stroke-dasharray", totalLengthOut + " " + totalLengthOut)
			  .attr("stroke-dashoffset", totalLengthOut)
			  .transition()
				.duration(2000)
				.ease("linear")
				.attr("stroke-dashoffset", 0);
			   
			 inLinePath
			  .attr("stroke-dasharray",totalLengthIn + " " + totalLengthIn)
			  .attr("stroke-dashoffset", totalLengthIn)
			  .transition()
				.duration(2000)
				.ease("linear")
				.attr("stroke-dashoffset", 0);

			svgGraph.append("text")
				.attr("transform", "translate(" + (width+3) + "," + y(data[data.length-1].outTemps) + ")")
				.attr("dy", ".35em")
				.attr("text-anchor", "start")
				.style("fill", "steelblue")
				.style("opacity", "0")
				.text("Outside Temperature")
				.transition()
					.duration(2500)
					.style("fill", "steelblue")
					.style("opacity", "1");
								
			svgGraph.append("text")
				.attr("transform", "translate(" + (width+3) + "," + y(data[data.length-1].inTemps) + ")")
				.attr("dy", ".35em")
				.attr("text-anchor", "start")
				.style("fill", "red")
				.style("opacity", "0")
				.text("IndoorTemperature")
				.transition()
					.duration(2500)
					.style("fill", "red")
					.style("opacity", "1");		
				
			svgGraph.append("g")		
				.attr("class", "x axis")
				.attr("transform", "translate(0," + height + ")")
				.call(xAxis);
		 
			svgGraph.append("g")		
				.attr("class", "y axis")
				.call(yAxis);
				
		});
	</script>
</iframeGraph>

<iframeCircles>
	
	<script src="//d3js.org/d3.v3.min.js"></script>
	<script>

		var circleMargin = {top: 20, right: 150, bottom: 30, left: 50},
			circleWidth = 200 - circleMargin.left - circleMargin.right,
			circleHeight = 400 - circleMargin.top - circleMargin.bottom;
		
		var formatDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
		
		var svgCircles = d3.select("iframeCircles")
			.append("svg")
				.attr("width", circleWidth + circleMargin.left + circleMargin.right)
				.attr("height", circleHeight + circleMargin.top + circleMargin.bottom)
			.append("g")
				.attr("transform", 
					  "translate (" + (circleMargin.left)  + "," + (circleMargin.top) + ")");

			d3.json("/data/minmax/yesterday",function(error, data) {

				data.forEach(function(d) {
				d.timeStamps = formatDate(d.timeStamps);
				d.outTemps = parseFloat(d.outTemps);})	

				var elem = svgCircles.selectAll("g")
					.data(data)
					
				var elemEnter = elem.enter()
					.append("g")
							
				var circleMin = elemEnter.append("circle")
				.style("stroke", "gray")
				.style("fill", "white")
				.attr("r", 40)
				.attr("cx", 50)
				.attr("cy", 120);
				
				var circleMax = elemEnter.append("circle")
				.style("stroke", "gray")
				.style("fill", "white")
				.attr("r", 40)
				.attr("cx", 50)
				.attr("cy", 240);	
				
				elemEnter.append("text")
					.attr("dx", 37)
					.attr("dy", 125)
					.text(data[1].outTemps);
				
				elemEnter.append("text")
					.attr("dx", 37)
					.attr("dy", 245)
					.text(data[0].outTemps);
			});
	</script>
</iframeGraph>
</html>

		
		
