<!doctype html>

<meta http-equiv="refresh" content="300">
<html>
<title>brilCast</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>

	<div class=page>
	  <h1>🐡 brilCast - microlocal weather service </h1>
	  {% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	  {% endfor %}
	  {% block body %}{% endblock %}
	  
	</div>

</body>


<iframe style = "display: block; text-align: center; margin: 0 auto; "
			src="graph"
			width=2000
			height=1000
			frameborder="0" 
			scrolling="no"
</iframe>







	
		












</html>
