<!DOCTYPE html>
<meta charset="utf-8">

<style>

iframeCircles  { font-family: sans-serif; background: #eee; margin-right:auto; float: right;}

path { 
	stroke: steelblue;
    stroke-width: 2;
    fill: none;
	}

</style>

<iframeCircles>

<script src="//d3js.org/d3.v3.min.js"></script>
	<script>
	
		var circleMargin = {top: 20, right: 150, bottom: 30, left: 50},
		width = 200 - circleMargin.left - circleMargin.right,
		height = 400 - circleMargin.top - circleMargin.bottom;
		
		var formatDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
		
		var svgCircles = d3.select("iframeCircles")
			.append("svg")
				.attr("width", width + circleMargin.left + circleMargin.right)
				.attr("height", height + circleMargin.top + circleMargin.bottom)
			.append("g")
				.attr("transform", 
					  "translate (" + (circleMargin.left+10)  + "," + (circleMargin.top_10) + ")");

		d3.json("/data/minmax/yesterday",function(error, data) {

			data.forEach(function(d) {
			d.timeStamps = formatDate(d.timeStamps);
			d.outTemps = parseFloat(d.outTemps);})
			

			var elem = svgCircles.selectAll("g")
				.data(data)
				
			var elemEnter = elem.enter()
				.append("g")
						
			var circleMin = elemEnter.append("circle")
			.style("stroke", "gray")
			.style("fill", "white")
			.attr("r", 40)
			.attr("cx", 50)
			.attr("cy", 120);
			
			var circleMax = elemEnter.append("circle")
			.style("stroke", "gray")
			.style("fill", "white")
			.attr("r", 40)
			.attr("cx", 50)
			.attr("cy", 240);	
			
			elemEnter.append("text")
				.attr("dx", 35)
				.attr("dy", 125)
				.text(data[1].outTemps);
			
			elemEnter.append("text")
				.attr("dx", 35)
				.attr("dy", 245)
				.text(data[0].outTemps);
				
	

		});
	</script>
</iframeCircles>
</html>
